/* .test{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}

@media screen and(min-width:480px){
    .test {
        background-color: black;
    }
}
@media screen and (max-width:720px){
    .test{
        background-color: red;
    }
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: rgb(14, 14, 14);
    width: 100%;
    height: 600vh;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(6px);
    position: fixed;
}
.menu .logo {
    position: relative;
    padding-top: 6px;
}
.menu .logo img{
    width: 86px;
    height: auto;
}
.menu button{
    background-color: rgb(124, 58, 237);
    color: white;
    padding: 10px 18px;
    border-radius: 100px;
    border: none;
    /* box-shadow: rgba(255, 255, 255, 0.12) 1px 1px 7px 0px inset, rgba(0, 0, 0, 0.34) -2px -2px 13px 0px inset; */
}
.menu1{
    display: none;
}


.container1{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}
.container1 .title1{
    padding: 30px;
}
.container1 .title1 h1{
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1.64px;
    line-height: 100%;
    text-align: center;
    color: rgb(76, 29, 149);
}
.container1 .title2 h2{
    margin-top: 40px;
    color: #a2a2a3;
    font-weight: 200;
}
.btn {
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
    overflow: visible;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}
.btn .btn1 button{
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    background-color: rgb(124, 58, 237);
}
.btn .btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 20px 16px;  
    display: flex;
    justify-content: center;
    width: auto;
    gap: 10px;
    background-color: rgb(124, 58, 237);
    border-radius: 100px;
    /* box-shadow: rgba(255, 255, 255, 0.12) 1px 1px 7px 0px inset, rgba(0, 0, 0, 0.34) -2px -2px 13px 0px inset; */
}
.btn .btn1 img{
    width: 23px;
    height: 23px;
}
.trust{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 120px 24px 60px;
}

.trust .logos{
    display: flex;
    animation: scroll 30s linear infinite;
    padding: 24px;
    gap: 40px;
}
.trust .logos .zurag img{
    width: 500px;
    height: 50px;
}
.trust .logos img{
    width: 72px;
    height: 40px;
}
@keyframes scroll {
    0% {
      transform: translateX(90%);
    }
    50% {
        transform: translateX(-50%)
      }
    100% {
      transform: translateX(-100%);
    }
  }
.design{
    text-align: center;
    gap: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    padding: 70px 20px 0;
    margin: 0 auto;
}
.design .title h1{
    font-size: 42px;
    font-weight: 600;
    font-family: sans-serif;
}
.design .txt p{
    color: rgb(128, 133, 143);
    font-size: 18px;
    text-align: center;
    line-height: 170%;
    font-family: dm 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.design .txt{
    padding: 12px 40px 40px ;
}
.components{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 24px;
}
.components .child1{
    background-color: rgb(27, 27, 27);
    width: 100%;
    padding: 32px;
    margin-bottom: 24px;
    border-radius: 10px;
    border: 0.01em rgb(72, 72, 72) solid;
    display: flex;
    flex-direction: row;
    gap: 14px;
}
.components .child1 .txt h1{
    color: rgb(124, 58, 237);
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}
.components .child1 p{
    color: #a2a2a3;
}
.components .child1 .zurag img{
    width: 20px;
    height: 20px;
}
.text-p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-p p{
    color: rgb(174, 102, 242);
    text-decoration: underline;
}
.building {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
    padding: 60px 20px;
}
.building .title h1{
    font-size: 54px;
    font-family: 'Times New Roman', Times, serif;

}
.building .txt p{
    color: #a2a2a3;
}
.building .zurag img{
    width: 70%;
    height: 70%;
}
.Trusted{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Trusted .title{
    text-align: center;

}
.Trusted .title h1{
    color: rgb(174, 102, 242);
    font-size: 55px;
}
.Trusted .right-child img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
.Trusted .parent{
    background-color: #181818;
    border: 1px rgb(64, 64, 64) solid;
    padding: 32px;
    margin: 32px 140px 32px 32px;
    border-radius: 20px;
    width: 85%;
    height: auto;
}
.Trusted .parent .right-child{
    display: flex;
    gap: 20px;
    padding-top: 24px;
}
.Trusted .parent .right-child .name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.Trusted .parent .right-child .name h2{
    font-size: 16px;
}
.Trusted .parent .right-child .name p{
    font-size: 14px;
    padding-top: 8px;
    color: #a2a2a3;
}
.Trusted .child-bottom img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.trusted1 img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
.trusted1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.trusted1 .child1{
    padding: 32px 0 0;
}
.trusted1 .parent{
    background-color: #181818;
    border: 1px rgb(64, 64, 64) solid;
    padding: 32px;
    border-radius: 20px;
    height: 250px;
}
.trusted1 .parent .right-child{
    display: flex;
    gap: 20px;
    padding-top: 24px;
}
.trusted1 .parent .right-child .name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.trusted1 .parent .right-child .name h2{
    font-size: 16px;
}
.trusted1 .parent .right-child .name p{
    font-size: 14px;
    padding-top: 8px;
    color: #a2a2a3;
}
.the {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.the .title{
    font-size: 44px;

}
.buhel{
    display: flex;
    padding: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}
.everything{
    background-color: #181818;
    width: auto;
    height: auto;
    border-radius: 50px;
    border: 1px rgb(67, 8, 99) solid;
    margin: 50px 100px;
} 
.everything .deed{
    padding: 24px;
}
.everything .single{
    padding: 24px;
}
.lock{
    width:100%;
    height: 10vh;
    display: flex;
    justify-content: center;

}
.lock .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.lock .content p{
    font-size: 12px;
    color: #80858f;
    font-family: "DM Sans", sans-serif;
}
.lock .content p span{
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    color: #b9bbc1;
}
.questions{
    width:100%;
    height: fit-content;
    display: flex;
    justify-content: center;

}
.questions .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.questions .content h2{
    color: white;
    font-size: 42px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    text-align: center;
}
.questions .content .texts{
    width: 100%;
    border-top: 1px  solid #18181b;;
    border-bottom: 1px  solid #18181b;
    display: flex;
    flex-direction: column;

}
.questions .content .texts .text{
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #222226;
    justify-content: space-between;
}
.questions .content .texts .text p{
    width: 90%;
    font-size: 16px;
    color: white;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
}
.footer {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.footer .content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer .content .group1{
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.footer .content .group1 img{
    width: 116px;
    height: 30px;
}
.footer .content .group1 .credit{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.footer .content .group1 .credit p{
    color: #b9bbc1;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;

}
.footer .content .group1 .credit p span{
    color: white;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
}
.footer .content .group2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer .content .group2 p{
    color: white;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
}
@media screen and (min-width: 768px) {
    .trusted1 .parent{
        margin: 32px 33%;
    }
    .components
    {
        flex-direction: row;
        gap: 24px;
        padding: 0 100px;
    }
    .components .child1{
        height: 25vh;
    }
}
@media screen and (min-width: 1024px) {
    .head .menu{
        display: none;
    }
    .head1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
        padding: 16px 24px;
        width: 100%;
        position: fixed;
    }
    .head1 .menu1{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 16px 24px;
        width: 70%;
        height: auto;
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(6px);
        position: fixed;
        gap: 30px;
        border: 0.5px grey solid;
        border-radius: 50px;
    }
    .head1 .menu1 button{
        background-color: rgb(124, 58, 237);
        color: white;
        padding: 10px 18px;
        border-radius: 100px;
        border: none;
    }
    .head1 .menu1 img{
        width: 86px;
        height: auto;
    }
    .btn{
        display: flex;
        flex-direction: row;
    }
    .components
    {
        flex-direction: row;
        gap: 24px;
        padding: 0 160px;
    }
    .components .child1{
        height: auto;
    }
}
@media screen and (min-width: 1440px) {
    body{
        margin: 0 50px;
    }
    .components
    {
        flex-direction: row;
        gap: 24px;
        padding: 0 160px;
    }
    .components .child1{
        height: 17vh;
    }
}